.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}

.pikachu:hover {
    padding: 16px;
    border: 2px dashed rgb(255, 190, 239);
}

.psyduck:hover {
    border: 2px dashed rgb(255, 190, 239);
    padding: 16px;
}

.meowth:hover {
    border: 2px dashed rgb(255, 190, 239);
    padding: 16px;
}