.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
}

.gengar-mega:hover {
    align-self: flex-end;
    height: -00px;
    
}